// @import "grid";

$background-dark: #111;
$background-light: #333;

body {
	// font-family: "Open Sans", sans-serif;
	font-family: monospace;
	font-weight: 300;
	line-height: 1.2;
	background: $background-negative;
	color: $foreground-secondary;
}

.app {
	&:not(.init) {
		display: none;
	}
}

.app {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	min-height: 100vh;

	&__inner {
		width: 100%;
	}

	@include media-breakpoint-up(sm) {
		padding: 30px 0;

		&__inner {
			display: flex;
			flex-direction: column;
			max-width: 480px;
			border-radius: 3px;
			box-shadow: 0 10px 20px -5px rgba($background-negative, 0.2);
		}
	}

	@include media-breakpoint-down(xs) {
		padding: 0 0 30px 0;

		&__inner {
			min-height: 100vh;
		}
	}
}

.container {
	padding: 0 15px;
}

.header {
	flex: 0 0 55px;
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 55px;

	.container {
		display: flex;
		align-items: center;
		width: 100%;
	}

	.brand {
		font-size: 13px;
		font-weight: 900;
		flex: 1 1 auto;
	}

	.btn--twitter,
	.btn--github {
		font-size: 20px;
		margin-left: 10px;
		color: $foreground-secondary;

		i {
			display: flex;
			align-items: center;
			color: currentColor;
			transition: ease-in-out color 300ms;
		}

		&:hover {
			color: $foreground-primary;
		}
	}
}

/*
json-component {
	display: block;
	padding: 0.8em;
	margin: 10px 0 0 0;
	max-width: 100%;
	overflow: auto;

	border-left: 3px solid $background-primary;
	font-family: monospace;
	font-size: 13px;
	line-height: 1.2;
	page-break-inside: avoid;
	word-wrap: break-word;
	white-space: pre;
	background: $background-light;
	color: $foreground-secondary;
	user-select: none;
}
*/

counter-component {
	display: block;
	padding: 0.8em;
	margin: 10px 0 0 0;
	max-width: 100%;
	overflow: auto;

	border-left: 3px solid $background-primary;
	font-family: monospace;
	font-size: 13px;
	line-height: 1.2;
	page-break-inside: avoid;
	word-wrap: break-word;
	background: $background-light;
	color: $foreground-secondary;
	user-select: none;
}

.group--cta {
	display: flex;
	align-items: center;

	&>.btn {
		flex: 1 1 auto;
		justify-content: center;
		margin-left: 5px;

		&:first-child {
			margin-left: 0;
		}
	}
}

.btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 13px;
	background: $background-dark;
	margin-bottom: 2px;
	border-radius: 2px;
	user-select: none;
	cursor: pointer;
	transition: ease-in-out all 150ms;

	&>span {
		padding: 4px 10px;

		&:first-child {
			flex: 1 0 auto;
		}
	}

	.remove {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		// border-radius: 10px;
		// background: #333;
		line-height: 1;
		user-select: none;

		&:hover {
			background: $foreground-primary;
			color: $foreground-negative;
		}
	}

	&:hover {
		background: $background-light;
	}
}

.error {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 13px;
	background: $background-primary;
	color: $foreground-negative;
	padding: 4px 10px;
	margin-bottom: 2px;
	border-radius: 2px;
	user-select: none;
}

.busy {
	margin: 10px auto;
	font-size: 2px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba($background-primary, 0.2);
	border-right: 1.1em solid rgba($background-primary, 0.2);
	border-bottom: 1.1em solid rgba($background-primary, 0.2);
	border-left: 1.1em solid $background-primary;
	transform: translateZ(0);
	animation: busy 1.1s infinite linear;

	&,
	&:after {
		border-radius: 50%;
		width: 20px;
		height: 20px;
	}

	&.hidden {
		visibility: hidden;
	}
}

@keyframes busy {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
