@font-face {
  font-family: 'todomvc';
  src: url("../fonts/todomvc/todomvc.eot");
  src: url("../fonts/todomvc/todomvc.eot?#iefix") format("embedded-opentype"), url("../fonts/todomvc/todomvc.woff") format("woff"), url("../fonts/todomvc/todomvc.ttf") format("truetype"), url("../fonts/todomvc/todomvc.svg#todomvc") format("svg");
  font-weight: normal;
  font-style: normal; }

[class*='icon--']:before {
  display: inline-block;
  font-family: 'todomvc';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon--add:before {
  content: '\0041'; }

.icon--remove:before {
  content: '\0042'; }

.icon--check:before {
  content: '\0043'; }

.icon--twitter:before {
  content: '\0044'; }

.icon--github:before {
  content: '\0045'; }

.icon--circle:before {
  content: '\0046'; }

.icon--chevron-down:before {
  content: '\0047'; }

* {
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  scroll-behavior: smooth; }

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0; }

[unselectable] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.77;
  background: #ffffff;
  color: #212121; }
  @media (min-width: 768px) {
    body {
      font-size: 18px; } }
  @media (max-width: 767.98px) {
    body {
      font-size: 16px; } }

b,
strong {
  font-weight: 600; }

.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }

.h1 {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 40px; }

.h2 {
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 30px; }

.h3 {
  font-size: 3rem;
  margin-bottom: 20px; }

.h4 {
  font-size: 2.5rem;
  margin-bottom: 10px; }

.h5 {
  font-size: 2rem; }

.h6 {
  font-size: 1.5rem; }

a,
button,
[ng-reflect-router-link],
.btn {
  display: inline-block;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /*
	&:hover {
		box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.15);
	}
	*/ }
  a, a:active, a:focus, a:hover, a:visited,
  button,
  button:active,
  button:focus,
  button:hover,
  button:visited,
  [ng-reflect-router-link],
  [ng-reflect-router-link]:active,
  [ng-reflect-router-link]:focus,
  [ng-reflect-router-link]:hover,
  [ng-reflect-router-link]:visited,
  .btn,
  .btn:active,
  .btn:focus,
  .btn:hover,
  .btn:visited {
    color: inherit;
    text-decoration: none;
    outline: none; }
  a[disabled],
  button[disabled],
  [ng-reflect-router-link][disabled],
  .btn[disabled] {
    opacity: 0.5;
    pointer-events: none; }

.btn--primary {
  display: inline-block; }
  .btn--primary:hover span, .btn--primary:focus span {
    color: #fff;
    border-color: #003adc;
    background: #003adc;
    transition: all ease-in-out .2s; }
  .btn--primary span {
    display: inline-block;
    padding: 15px 50px;
    font-size: 13px;
    font-weight: 400;
    color: #003adc;
    border: 2px solid #003adc;
    border-radius: 500px;
    transition: all ease-in-out .2s;
    font-family: "Open Sans", sans-serif; }
  .btn--primary b {
    font-weight: 600;
    text-transform: uppercase; }
  .section--negative .btn--primary span {
    color: #ffffff;
    border-color: #ffffff; }
  .section--negative .btn--primary span, .section--negative .btn--primary:active span, .section--negative .btn--primary:focus span, .section--negative .btn--primary:hover span, .section--negative .btn--primary:visited span {
    color: #ffffff;
    border-color: #ffffff; }
  @media (max-width: 767.98px) {
    .btn--primary {
      display: block; } }

.btn--secondary {
  display: inline-block; }
  .btn--secondary span {
    display: inline-block;
    padding: 15px 50px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background: #003adc;
    border-radius: 50px;
    font-family: "Open Sans", sans-serif; }
  .btn--secondary span, .btn--secondary:active span, .btn--secondary:focus span, .btn--secondary:hover span, .btn--secondary:visited span {
    color: #fff; }
  .section--negative .btn--secondary span {
    color: #ffffff;
    border-color: #ffffff; }
  .section--negative .btn--secondary span, .section--negative .btn--secondary:active span, .section--negative .btn--secondary:focus span, .section--negative .btn--secondary:hover span, .section--negative .btn--secondary:visited span {
    color: #ffffff;
    border-color: #ffffff; }
  @media (max-width: 767.98px) {
    .btn--secondary {
      display: block; } }

.group--form {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.group--form--fixed {
  position: fixed;
  justify-content: center;
  bottom: 15px;
  left: 15px;
  width: calc(100vw - 30px);
  padding: 10px 15px;
  font-size: 14px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8); }
  @media (max-width: 767.98px) {
    .group--form--fixed {
      display: none; } }

.icon--remove {
  font-size: 10px;
  margin: 13px 10px 7px 0;
  pointer-events: none;
  opacity: 0.3;
  color: green;
  cursor: pointer; }
  .enabled.dirty > .icon--remove, .icon--remove.active {
    pointer-events: all;
    opacity: 1; }

.icon--check {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  min-height: 25px;
  border-radius: 15px;
  font-size: 12px;
  background: #b8e1b8;
  color: green;
  opacity: 0;
  transition: opacity ease-in-out 350ms; }

input.valid + .icon--check {
  opacity: 1; }

.control--text {
  background: transparent;
  color: #212121;
  border: 0px solid transparent;
  border-radius: 0px;
  outline: none;
  width: 100%;
  margin: 5px 10px 0 0;
  padding: 0 20px 0 0;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.5;
  border: none;
  outline: 0;
  border-bottom: 4px solid transparent; }
  .control--text:-webkit-autofill, .control--text:-webkit-autofill:hover, .control--text:-webkit-autofill:focus {
    background: transparent;
    color: #212121;
    border: 0px solid transparent;
    border-radius: 0px;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.5;
    -webkit-text-fill-color: #212121;
    box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s; }
  .control--text:-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: rgba(98, 108, 98, 0.2); }
  .control--text::-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: rgba(98, 108, 98, 0.2); }
  .control--text::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: rgba(98, 108, 98, 0.2); }
  .control--text.disabled {
    opacity: 0.5; }
  .control--text.hidden {
    opacity: 0.1; }
  .control--text.pristine {
    color: black; }
  .control--text.dirty {
    color: green; }
  .control--text.touched {
    color: gray; }
  .control--text.valid {
    border-bottom-color: green; }
  .control--text.invalid:not(.pristine) {
    border-bottom-color: red; }

.group--form--select {
  position: relative; }
  .group--form--select .icon--chevron-down {
    position: absolute;
    right: 32px;
    top: 50%;
    margin-top: -10px;
    font-size: 14px;
    color: rgba(0, 128, 0, 0.3);
    pointer-events: none; }

.control--select {
  background: #e0e0e0;
  color: white;
  border: 0px solid transparent;
  border-radius: 3px;
  outline: none;
  width: 100%;
  margin: 0;
  padding: 7px 35px 7px 19px;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.5;
  border: none;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .control--select:-webkit-autofill, .control--select:-webkit-autofill:hover, .control--select:-webkit-autofill:focus {
    background: #e0e0e0;
    color: white;
    border: 0px solid transparent;
    border-radius: 3px;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.5;
    -webkit-text-fill-color: white;
    box-shadow: 0 0 0px 1000px #e0e0e0 inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s; }
  .control--select:-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: rgba(98, 108, 98, 0.2); }
  .control--select::-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: rgba(98, 108, 98, 0.2); }
  .control--select::placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: rgba(98, 108, 98, 0.2); }
  .control--select.disabled {
    opacity: 0.5; }
  .control--select.hidden {
    opacity: 0.1; }
  .control--select.pristine {
    color: black; }
  .control--select.dirty {
    color: green; }
  .control--select.touched {
    color: gray; }
  .control--select.valid {
    border-color: green;
    color: green; }
  .control--select.invalid:not(.pristine) {
    color: red; }

.group--radio label,
.group--checkbox label {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-right: 10px;
  padding: 2px 4px;
  border-radius: 3px;
  background: #e0e0e0;
  color: green;
  cursor: pointer; }
  .group--radio label input,
  .group--checkbox label input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 0;
    margin: 0 4px;
    border: 2px solid green;
    outline: 0; }
    .group--radio label input:checked,
    .group--checkbox label input:checked {
      background: green; }

.group--radio input {
  width: 12px;
  height: 12px;
  border-radius: 7px; }

.group--radio span {
  margin: 0 5px 0 4px; }

.group--checkbox input {
  width: 11px;
  height: 11px;
  border-radius: 2px; }

.group--checkbox span {
  margin: 0 5px; }

.submitted .btn--submit, .submitted .btn--add, .submitted .btn--test, .invalid .btn--submit {
  opacity: 0.5;
  background: #7d7d7d;
  color: white; }

.btn--submit, .btn--add, .btn--test {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 5px 0;
  border-radius: 5px;
  transition: all ease-in-out 350ms; }

.valid .btn--submit {
  background: #4CAF50;
  color: white; }
  .valid .btn--submit:hover, .valid .btn--submit:active, .valid .btn--submit:focus {
    background: #338e36;
    color: white; }

.btn--add {
  background: #d3833c;
  color: white; }
  .btn--add:hover, .btn--add:active, .btn--add:focus {
    background: #d3833c;
    color: white; }

.btn--test {
  width: 80px;
  margin-left: 10px;
  background: #d3833c;
  color: white; }
  .btn--test:hover, .btn--test:active, .btn--test:focus {
    background: #d3833c;
    color: white; }

errors-component {
  display: block; }
  errors-component .inner {
    font-size: 13px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    padding: 5px 20px;
    background: #eee; }

body {
  font-family: monospace;
  font-weight: 300;
  line-height: 1.2;
  background: #212121;
  color: #8f929b; }

.app:not(.init) {
  display: none; }

.app {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh; }
  .app__inner {
    width: 100%; }
  @media (min-width: 768px) {
    .app {
      padding: 30px 0; }
      .app__inner {
        display: flex;
        flex-direction: column;
        max-width: 480px;
        border-radius: 3px;
        box-shadow: 0 10px 20px -5px rgba(33, 33, 33, 0.2); } }
  @media (max-width: 767.98px) {
    .app {
      padding: 0 0 30px 0; }
      .app__inner {
        min-height: 100vh; } }

.container {
  padding: 0 15px; }

.header {
  flex: 0 0 55px;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 55px; }
  .header .container {
    display: flex;
    align-items: center;
    width: 100%; }
  .header .brand {
    font-size: 13px;
    font-weight: 900;
    flex: 1 1 auto; }
  .header .btn--twitter,
  .header .btn--github {
    font-size: 20px;
    margin-left: 10px;
    color: #8f929b; }
    .header .btn--twitter i,
    .header .btn--github i {
      display: flex;
      align-items: center;
      color: currentColor;
      transition: ease-in-out color 300ms; }
    .header .btn--twitter:hover,
    .header .btn--github:hover {
      color: #003adc; }

/*
json-component {
	display: block;
	padding: 0.8em;
	margin: 10px 0 0 0;
	max-width: 100%;
	overflow: auto;

	border-left: 3px solid $background-primary;
	font-family: monospace;
	font-size: 13px;
	line-height: 1.2;
	page-break-inside: avoid;
	word-wrap: break-word;
	white-space: pre;
	background: $background-light;
	color: $foreground-secondary;
	user-select: none;
}
*/
counter-component {
  display: block;
  padding: 0.8em;
  margin: 10px 0 0 0;
  max-width: 100%;
  overflow: auto;
  border-left: 3px solid #003adc;
  font-family: monospace;
  font-size: 13px;
  line-height: 1.2;
  page-break-inside: avoid;
  word-wrap: break-word;
  background: #333;
  color: #8f929b;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.group--cta {
  display: flex;
  align-items: center; }
  .group--cta > .btn {
    flex: 1 1 auto;
    justify-content: center;
    margin-left: 5px; }
    .group--cta > .btn:first-child {
      margin-left: 0; }

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  background: #111;
  margin-bottom: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: ease-in-out all 150ms; }
  .btn > span {
    padding: 4px 10px; }
    .btn > span:first-child {
      flex: 1 0 auto; }
  .btn .remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    line-height: 1;
    -webkit-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .btn .remove:hover {
      background: #003adc;
      color: #ffffff; }
  .btn:hover {
    background: #333; }

.error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  background: #003adc;
  color: #ffffff;
  padding: 4px 10px;
  margin-bottom: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.busy {
  margin: 10px auto;
  font-size: 2px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 58, 220, 0.2);
  border-right: 1.1em solid rgba(0, 58, 220, 0.2);
  border-bottom: 1.1em solid rgba(0, 58, 220, 0.2);
  border-left: 1.1em solid #003adc;
  transform: translateZ(0);
  animation: busy 1.1s infinite linear; }
  .busy, .busy:after {
    border-radius: 50%;
    width: 20px;
    height: 20px; }
  .busy.hidden {
    visibility: hidden; }

@keyframes busy {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@media (max-width: 767.98px) {
  .hidden-xs-down {
    display: none !important; } }

.hidden-xs-up {
  display: none !important; }

@media (max-width: 1023.98px) {
  .hidden-sm-down {
    display: none !important; } }

@media (min-width: 768px) {
  .hidden-sm-up {
    display: none !important; } }

@media (max-width: 1439.98px) {
  .hidden-md-down {
    display: none !important; } }

@media (min-width: 1024px) {
  .hidden-md-up {
    display: none !important; } }

@media (max-width: 1829.98px) {
  .hidden-lg-down {
    display: none !important; } }

@media (min-width: 1440px) {
  .hidden-lg-up {
    display: none !important; } }

.hidden-xl-down {
  display: none !important; }

@media (min-width: 1830px) {
  .hidden-xl-up {
    display: none !important; } }
